/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.Jcrop
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

/********* BOOTSTRAP MODS **********/

body {
    padding-top: 150px;
}

.navbar {
  background-color: #169545;
  border-style: solid;
  border: #000000;

}

#buttonrow {
  padding-bottom: 20px;
  align-items: center;
}

.btn-outline-secondary {
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-style: solid;
    border-width: 1px;
}


/********* ACCORDIAN COLLAPSE ******/

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

#edit-button {
  float: right;        /* adjust as needed */
  color: grey;         /* adjust as needed */
}

/*********   DEVISE MENU ***********/

.nav > li > a {
  margin-right: 5px;
  margin-left: 5px;

}

.navbar-default .navbar-nav > li > a {
  color: white;

    &:hover {
    color: white;
    text-decoration: underline;
  }
}

.navbar-default .navbar-brand {

    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    color: white;

    &:hover {
      color: white;
      text-decoration: underline;
    }

}

.navbar-toggle {
    z-index:3;
}
