// Place all the styles related to the growing_things controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.calendar {
  text-align: center;
  border-collapse: separate;
  border-spacing: 5px;
  width: 100%;

  #growing_thing_name {
    text-align: center;
    font-family: "Lucida Grande", arial, helvetica, sans-serif;
    font-size: 10px;
    padding: 6px;
  }

  td, th {
    font-family: "Lucida Grande", arial, helvetica, sans-serif;
    font-size: 10px;
    padding: 6px;
    // border: 1px solid #999;
  }

  th {
    background: #DDD;
    color: #666;
    text-align: center;
    width: 14.2857142857143%;
  }

  td {
    background: #FFF;
    color: #777;
    height: 80px;
    vertical-align: center;
    text-align: center;
    font-size: 30px;

  }

  .notmonth, .notmonth a { color: #CCC; }
  .today { background-color: #D7F2FF; }
  .past {
    border-radius: 5px 20px 5px;
    border-style: solid;
    border-color: #DB544A;
    border-width: 1px;
    padding: 10px;

    &:hover {
      background-color: #e8928b;
    }
  }
  .photo {
    //background-color: #D0D9A2;
    border-style: solid;
    border-width: 1px;
    border-color: #D0D9A2;

    img {
      -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    }

    &:hover {
      border-style: solid;
      border-width: 1px;
      border-color: #A3B449;
      background-color: #0000;
    }

  }
}

#month {
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  font-size: 22px;
  a {
    text-decoration: none;
    padding: 0 10px;
    color: #999;
  }
}

#articles ul {
  font-size: 11px;
  padding-left: 20px;
}
